[Unit]
Description=Automatically starts servers when they receive traffic

[Service]
ExecStart=/usr/bin/autostart wg0 /etc/autostart/mapping.json
Environment=AWS_DEFAULT_REGION=us-east-1
Restart=on-failure

[Install]
WantedBy=multi-user.target